<!DOCTYPE html>
<html>
<head>
	<title>RantLand</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css">
	
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>

<nav class="ui fixed inverted menu">
	<div class="ui container">
		<div class="header item"><i class="code icon"></i>RantLand</div>
			<a href="/rants" class="item">Home</a>
			<a href="/rants/new" class="item">New Rant</a>
	</div>
</nav>


