img{
	width:100%;
}


body{
	background-color:#626868;
	margin:0;
}

.jumbotron{
	background-color:#939196;
	color:#FFE2FE;
}

a{
	color:#4C5F6B;
}

h1{
	color:#FFE2FE;
}

div.thumbnail{
	background-color:#E2E2E2;
}

div.container-fluid{
	background-color:#E2E2E2;
}

.btn, .btn:hover, .btn:active, .btn:visited {
    background-color:#E2E2E2 !important;
    outline:none;
    border:none;
    color:#524646;
}

.btn.pink {
 	background-color:#ffa5e1 !important;
}

.btn.purple{
	background-color:#bc9cd3 !important;
}

.btn.blue{
	background-color:#A7Cec7 !important;
}

.inline{
	display:inline !important;
}

.form-center{
	width:30%; margin:20px auto;
}

.center{
	text-align:center;
}

h1.success{
	color:#a3f986;
}

h1.error{
	color:#f2988e;
}

.message{
	margin-bottom:20px;
	font-style:italic;
}
