
div.top{
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	margin: 0 auto;
	background-color:black;
}


div.top h1, div.top h3{
	padding:0;
	font-weight:normal;
	text-align:center;
	color:white;
	margin:0 auto;
}

div.top h1{
	line-height:2.2; 
}

div.top h3{
	line-height:1.1;
}
div.mid{
	height:40px;
	background-color:white;
	display: flex;
  	justify-content: center;
}

div.mid button{
	border-style: none; 
	padding:auto;
	color:black;
	background-color:white;
	outline:none;
	font-size:20px;
}

div.mid button.hover{
	background-color:black;
	color:white;
}

div.mid button.toggled{
	background-color:black;
	color:white;
}

div.mid #message_display{
	border-style: none; 
	text-align:center;
	padding:0 auto;
	margin-top: auto;
    margin-bottom: auto;
    width:350px;
	color:black;
	font-size:20px;
}


div.color{
	width:600px;
	margin: 0 auto;
	background-color:black;
}


div.color button{
	height:30%;
	width:30%;
	padding-bottom:30%;
	margin:1.3%;
	outline: 0;
	border-radius: 50%;
	transition: background 2s;
	opacity: 0.5; 
}


div.color button.hover{
	border-color: white;
	border-width: 5px;
	opacity: 1; 
}

div.color button.correct{
	border-color: white;
	border-width: 5px;
	opacity: 1; 
}

div.color button.wrong{
	border-style: none; 
	background-color: black !important;
}



body{
	background-color:black;
	margin:0;
}	

#color_display{
	font-style: italic;
}