<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 class="center" >Capture New Animal</h1>
		<div class="form-center">
			<form action="/animals" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="animal[name]" placeholder="Name Animal" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="animal[description]" placeholder="Description" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="animal[image]" placeholder="Image URL" required>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-success btn-block">Submit</button>
				</div>
			</form>
		</div>	
	</div>
</div>

<% include ../partials/footer %>