

<% include partials/header %>
<div class="ui main text container segment">

	<div class="ui huge header"><h1>This post doesn't exist.</h1></div>
	
	<a href="/rants"><button class="ui basic button green">Back</button></a>
</div>

<% include partials/footer %>