<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui header huge">
		<h1>Rant about Your Day</h1>
		</div>
<form class="ui form" action="/rants/<%=rant._id%>?_method=PUT" method="POST">
	<div class="field">
		<label>Title</label>
		<input type="text" name="rant[title]" placeholder="Title" value="<%=rant.title%>">
	</div>
	<div class="field">
		<label>Image</label>
		<input type="text" name="rant[image]" placeholder="Image URL" value="<%=rant.image%>">
	</div>
	<div class="field">
		<label>Blog Content</label>
		<textarea  type="text" name="rant[body]"><%=rant.body%></textarea>
	</div>
	<a style="display: inline;" href="/rants"><button class="ui basic button green">Back</button></a>
	<button style="display: inline;" class="ui basic button blue">Submit</button>
</form>



		</div>	
	</div>
</div>

<% include partials/footer %>

