<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui header huge">
		<h1>Rant about Your Day</h1>
		</div>
<form class="ui form" action="/rants" method="POST">
	<div class="field">
		<label>Title</label>
		<input type="text" name="rant[title]" placeholder="Title">
	</div>
	<div class="field">
		<label>Image</label>
		<input type="text" name="rant[image]" placeholder="Image URL">
	</div>
	<div class="field">
		<label>Blog Content</label>
		<textarea  type="text" name="rant[body]" placeholder="How was your day?"></textarea>
	</div>
		
		<button class="ui basic button blue">Submit</button>
</form style="display: inline;" >
</div>

<% include partials/footer %>