<% include partials/header %>
<div class="container">
<h1>Welcome to the landing page! (EDITING)</h1>
	<a href="/animals"><button class="btn">View animals</button></a>
</div>
<% include partials/footer %>