<% include partials/header %>
<a href="/animals" class="center"><button class="btn"><img src="http://wallpapercave.com/wp/E1GrKPY.jpg" style:"width:100%;"></button></a>




<% include partials/footer %>