<% include partials/header %>

<h1><%= animal.name %> </h1>
<img style="height:400px; width:600px" src="<%= animal.image %>">
<br>
<%console.log(animal.description)%>
<h6><%= animal.description %> </h6>

<% include partials/footer %>